<div class="container mt-5">
<h1>About us</h1>
<%= simple_format("It's all about us, all about us\nIt's all about, all about us, all about us\nThere's a thing that they can't touch\n'Cause you know (ah-ah)") %>
</div>